.rectangle{
    display: grid;
    grid-template-columns: auto auto;

    .forimage{
        display: flex;
        margin-top: 50px;

        .img1{
            padding-top: 420px;
        }
        .img2{
            position:absolute;
            padding-left: 320px;
        }
    }
}