.rectangle{
    display: grid;
    grid-template-columns: auto auto;

    .forimage{
        display: flex;
        margin-top: 50px;

        .img1{
            padding-top: 420px;
        }
        .img2{
            position:absolute;
            padding-left: 320px;
        }
    }
    

    .forbox{
            display: flex;

        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 32px;
            
            position: absolute;
            width: 500px;
            height: 400px;
            left: 1100px;
            top: 238px;
            
            /* Background */
            
            background: #F7F7FC;
            box-shadow: 0px 8px 20px;
            border-radius: 15px;
            

            .t1{
                position: static;
                width: 461px;
                height: 72px;
                left: 0px;
                top: 0px;
                
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 150%;
            
                color: #F45B0F;
                
                flex: none;
                order: 0;
                flex-grow: 0;
                // margin: 0px 0px;
                margin-bottom: 20px;
                 }
                 .t2{
                    font-family: Lato;
                    font-weight: normal;
                    line-height: 130%;
                    font-size: 23px;
                    color: #5739f0;
                    width: 361px;
                    height: 72px;
                    // left:32px;
                    top: 128px;
                    // align-self: stretch;
                    }

                    .t4{
                        display: flex;
                        
                        .t41>input{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 20px;

                            position: static;
                            width: 461px;
                            height: 70px;
                            left: 32px;
                            top: 236px;

                            border: 1px solid #16056B;
                            box-sizing: border-box;
                            border-radius: 15px;
                            flex: none;
                            order: 2;
                            flex-grow: 0;
                            margin: 13px 0px;
                            .colo{
                                color: slateblue;
                            }
                            
                        }

                        .t42{
                                 position: absolute;
                                     padding-top: 38px;
                                        padding-left: 420px;
                                    
                                }}

                                .btn{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 24px 10px;

                                    position: static;
                                    width: 461px;
                                    height: 72px;
                                    left: 32px;
                                    top: 484px;

                                    background: #16056B;
                                    border-radius: 15px;
                                    flex: none;
                                    order: 5;
                                    flex-grow: 0;
                                    margin: 24px 0px;
                                    cursor: pointer;
                                    margin-top: 10px;
                                    
                                    .lo{
                                        color: white;
                                    }
                                }

                                .txt>img{
                                    position: absolute;
                                    left: 36.37%;
                                    right: 36.38%;
                                    // top: 14.65%;
                                    bottom: 7.65%;
                                    color: #16056b;
                                }

                                    .txt1{
                                            color: #16056b;
                                            padding-left: 200px;
                                            padding-top: 3px;
                                            font-size: 15px;
                                    }
                                
             }

        .img3{
            margin-left: 880px;
        }
    }
}